
/.idea/
/src/github.com/
/src/golang.org/
/src/google.golang.org/
/src/HelloDemo/vendor/
/src/HelloDemo/HelloDemo.exe
/src/HelloDemo/glide.lock
/src/DemoApp/vendor/
/src/DemoApp/glide.lock
/src/DemoApp/main
